.movie-detail-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }

.movie-detail-page__main {
    margin: 30px auto;
    padding: 0 30px;
    text-align: left;
  }
  
  .movie-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .movie-detail-page__movie button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #f5c518;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .movie-detail-page__movie button:hover {
    background-color: #e5b417;
    transform: scale(1.05);
  }
  