.list {
    border: 2px solid #3498db;
    padding: 25px; 
    list-style-type: "\1F431";
  }
  
  .link {
    color: #2c3e50;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }