*, *::before, *::after { 
    box-sizing: border-box;
  }
  
  html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  #chat-app { 
    display: grid;
    grid-template-areas: 
      "users messages"
      "users outgoing";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    gap: 1rem;
    padding: 20px;
  }
  
  .users-section { 
    grid-area: users;
    padding: 0 1rem;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .messages-section { 
    grid-area: messages;
    padding: 0 1rem;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .users li, .messages li { 
    background: #eee;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    list-style-type: none;
  }
  
  .username { 
    font-weight: bold;
    color: #2c3e50;
  }
  
  .message { 
    display: flex;
    margin: 10px;
  }
  
  .sender-info { 
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .avatar { 
    height: 2rem; 
    width: 2rem; 
    border-radius: 50%; 
    overflow: hidden; 
    display: inline-block; 
    background-color: #ddd; 
    text-align: center;
    line-height: 2rem; 
    font-size: 1rem;
    flex-shrink: 0; 
  }
  
  .avatar-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .avatar-placeholder {
    display: none; 
    width: 100%;
    height: 100%;
    background-color: #3498db; 
    color: white; 
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%; 
    flex-shrink: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .message-text { 
    width: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .message-text:last-child { 
    border-bottom: none;
  }
  
  .outgoing-section {
    grid-area: outgoing;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    width: 100%; 
}

.message-field {
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 1rem;
    outline: none;
    flex-grow: 1; 
    width: 600px; 
}

.submit-button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #555;
}